@model ProjetoFinal.Models.ProdutoPedido

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
