@model ProjetoFinal.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prazo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prazo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Rastreamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo_Rastreamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
